/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .top-menu li a {
        padding-right: 15px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .srvice-box p {
        padding: 0;
    }
    .comment-menu {
        right: 0;
        top: 10px;
    }
    .footer-newsletter input {
        width: 57%;
    }
    .signle-checkbox {
        display: block;
        margin-right: 0;
        text-align: left;
    }
    .short-by-select {
        padding-left: 0;
    }
    .nice-select {
        width: 80%;
    }
    .price-select {
        float: inherit;
        margin-right: 0;
    }
    .price-select label {
        position: relative;
        left: 0;
        top: 0;
        float: left;
    }
    .nice-select {
        margin-bottom: 10px;
    }
    ul.list {
        width: 100%;
    }
    .filter-secton > span {
        left: -30px;
    }
    .filter-secton > span {
    right: 75px;
    top: 55px;
}

.good-network {
    left: 0;
}
.too-soical-menu a {
    margin-left: 2px;
}
.too-soical-menu {
    margin-right: 165px;
}
.top-menu li a {
    padding: 0 2px;
}
.p-2 {
    padding: inherit !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.blog-right-text .start-btn {
    margin-top: 5px;
}
.blog-author-info {
    margin-top: 20px;
}



}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
.blog-single-box {
    padding: 15px;
}
    .too-soical-menu {
        display: none;
    }
    .slide-content h2 {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 5px;
    }
    .slide-content p {
        font-size: 16px;
        line-height: 24px;
    }
    img.slider-img-right {
        right: 0;
        max-width: 349px;
    }
    .slider-content-box {
        padding: 90px 0;
    }
    .srvice-box p {
        font-size: 16px;
        padding: 0;
    }
    .srvice-box h3 {
        font-size: 19px;
        margin-top: 60px;
        margin-bottom: 12px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .collpase-right button.btn.btn-link {
        font-size: 16px;
    }
    .collpase-right .card-header {
        padding: 5px 0;
    }
    .follow-on {
        margin-top: 30px;
    }
    .footer-social-menu {
        margin-bottom: 20px;
    }
    .comment-menu {
        right: 0;
        top: 10px;
    }
    .footer-newsletter input {
        width: 57%;
    }

    .signle-checkbox {
        display: block;
        margin-right: 0;
        text-align: left;
    }
    .short-by-select {
        padding-left: 0;
    }
    .nice-select {
        width: 80%;
    }
    .price-select {
        float: inherit;
        margin-right: 0;
    }
    .price-select label {
        position: relative;
        left: 0;
        top: 0;
        float: left;
    }
    .nice-select {
        margin-bottom: 10px;
    }
    ul.list {
        width: 100%;
    }
.filter-secton > span {
    right: 73px;
    top: 55px;
}
    .traits-box h4 {
        font-size: 14px;
    }
    .traits-box {
        padding: 15px;
    }
    .good-network {
    display: none;
}

/*Blog-page*/
.blog-right-text {
    margin: 0;
    margin-right: 0;
}
.blog-right-text p {
    font-size: 16px;
}
.blog-right-text .start-btn {
    margin-top: 0px;
}
.blog-author-info {
    margin-top: 10px;
    padding-right: 15px;
}
.p-2 {
    padding: inherit !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

/*About page*/
.about-video-area {
    background: #0CC190;
    height: 270px;
}



}


/* Extra small Device. */
@media (max-width: 767px) {
.blog-left-img.blog-new-cls {
    margin: -5px;
}
    a.start-btn {
    	font-size: 12px;
    	padding: 9px 15px;
    	padding-right: 40px;
    }
    .top-menu ul {
      display: none;
    }
    .too-soical-menu {
      display: none;
    }
    .header-top-btn {
      position: absolute;
      right: 20px;
      top: -24px;
    }
    .site-logo {
    	width: 100px;
    	margin: 0 auto;
    	margin-top: -36px;
    }.site-logo h4 {
      font-size: 15px;
      margin-right: 37px;
      margin-top: 4px;
    }
    .off-canvs-icon {
        z-index: 999;
    }
    .off-canvs-menu {
    	width: 100%;
    	position: fixed;
    	left: 0;
    	z-index: 999;
    	height: 100%;
    	display: flex;
    	justify-content: center;
    	border-radius: 0 0 30px 0;
    	margin-top: 0;
    	transition: .3s;
    	opacity: 0;
    	visibility: hidden;
        }
        .header-top.sticky .site-logo {
        	margin-top: -22px;
        }
        .header-top.sticky .off-canvs-icon {
        	margin-top: 10px;
        	margin-bottom: -13px;
        	z-index: 9999;
        }
        .header-top.sticky .header-top-btn {
        	top: -18px;
        }

/*slider-area*/
    .slide-content h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
    }
    img.slider-img-right {
        position: absolute;
        top: 0;
        transform: inherit;
        max-width: 230px;
        text-align: center;
        right: 50%;
        transform: translateX(50%);
    }
    .slider-content-box {
        text-align: center;
        padding-bottom: 0;
    }
    .slide-content {
        margin-top: 110px;
    }
    .slide-content p {
        font-size: 16px;
        line-height: 30px;
        margin-top: 5px;
    }
    a.site-btn {
        width: 220px;
        text-align: center;
        height: 50px;
        line-height: 52px;
    }
    .slider-btn {
        text-align: center;
    }
    .header-slider-area .owl-dots {
        position: relative;
        bottom: 12px;
        text-align: center;
        margin-top: -18px;
        padding-bottom: 20px;
    }
    .header-slider-area .owl-dots:after {
      display: none;
    }
    .header-slider-area .owl-dots {
        right: 0;
    }
/*Slider-end*/

    .section-title h2 {
        font-size: 24px;
        line-height: 35px;
    }
    .section-title {
        margin-bottom: 50px;
    }
    .srvice-box p {
        padding: 0;
    }
    .srvice-box h3 {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .srvice-box {
        margin-bottom: 40px;
    }
    .section-padding {
        padding: 50px 0;
        padding-bottom: 70px;
    }
    .collapse-left {
        margin-top: -20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .collpase-right button.btn.btn-link {
        font-size: 14px;
    }
    .card-body {
        font-size: 14px;
        line-height: 24px;
        padding: 0;
        margin-top: 10px;
    }
    .footer-newsletter button {
        padding: 12px 15px;
    }

    .footer-newsletter input {
        width: 65%;
    }
    .newsletter-title h2 {
        font-size: 24px;
    }
    .newsletter-title p {
        font-size: 16px;
    }
    .newsletter-singup-box button {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }
    .newsletter-singup-box input {
        width: 100%;
    }

/*Product*/
    .product-search-box input {
        width: 80%;
        margin-bottom: 20px;
    }
    .short-by-select {
        padding-left: 0;
    }
.price-select {
    float: inherit;
    margin-right: 4px;
    display: inline-block;
}
.price-select:nth-child(2) {
    margin-right: -26px;
}
.singgle-filter-item li {
    margin-right: 10px;
}
    .short-by-select {
        margin-top: 21px;
    }
    .filter-secton {
        position: relative;
        top: -155px;
        right: 0;
    }
    .signle-checkbox {
        margin-right: 25px;
    }
    .price-select label {
        padding-left: 0;
    }

    .singgle-filter-item li {
        margin-bottom: 20px;
    }
    .singgle-filter-item .nice-select {
        width: 100%;
    }
    .filter-secton > span {
        position: absolute;
        left: -8px;
        top: 5px;
        opacity: 0;
    }
    .product-search-box {
        text-align: left;
    }
    .filter-icon {
        margin-right: 15px;
        margin-top: 5px;
    }
    .product-search-box span {
        padding-left: 10px;
    }
    .product-search-tag {
        text-align: left;
    }
    .pagination-area .page-item:first-child .page-link {
        margin-right: -110px;
        margin-top: 68px;
    }
    .pagination-area .page-item:last-child .page-link {
        margin-left: -110px;
        margin-top: 68px;
    }

    .banner-middler-img {
        margin-top: 65px;
    }
    .right-share-icon {
        float: inherit;
        margin-top: 0;
        margin-left: -28px;
        padding-top: 13px;
        padding-bottom: 25px;
    }
    a.buy-btn {
        padding: 10px 10px;
    }
    .tab-box {
        padding: 30px 10px;
    }
    .tab-content {
        font-size: 16px;
        line-height: 26px;
    }
    .traits-box {
        margin-bottom: 30px;
    }
    .sharing-link-list a {
        margin-bottom: 7px;
    }
    .tab-box li a {
        padding: 10px 20px;
    }
    .colsm-6 {
        width: 50%;
        padding-right: 7px;
        padding-left: 7px;
    }
    .traits-box {;
        padding: 15px;
    }
    .traits-box h4 {
        font-size: 24px;
        text-align: center;
    }
    .tab-content>.tab-pane {
        text-align: center;
    }
    .social-div {
        position: absolute;
        width: 50%;
        left: 50%;
        top: -62px;
    }
    .footer-newsletter h4 {
        text-align: center;
        margin-top: 50px;
    }
    .footer-newsletter input {
        width: 100%;
    }
    .footer-newsletter button {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
    h4.footer-menu-title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .footer-menu a {
        margin-bottom: 5px;
    }
    .footer-menu {
        margin-top: 30px;
    }
    .footer-social-menu a {
        margin-right: 4px;
    }
    .popullar-product-area .owl-dots {
        margin-left: -10px;
    }
    .popullar-product-area .owl-dots {
    width: 100%;
    }
    .popullar-product-area .owl-dots {
        margin-left: 0;
    }
    .good-network {
        display: none;
    }



/* Blog-area CSS START*/
    .blog-right-text {
    margin: 15px;
    margin-right: 15px;
    }
    .blog-right-text .start-btn {
    margin-top: 0;
    }
    .blog-author-info {
        margin-top: 20px;
    }
    .blog-right-text p {
    font-size: 16px;
}
/*END*/



/*Bootstrap4 order class*/
.p-2 {
    padding: inherit !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.order-first {
    -ms-flex-order: -1;
    order: -1;
}
/*End*/



.search-box input {
    width: 100%;
}
h2.news-se-title {
    font-size: 24px;
}
.top-section-title {
    padding-top: 30px;
}
.blog-area .mt-80 {
    margin-top: 0;
}
.about-video-area {
    height: 180px;
}
.about-video-area:after {
    right: -103px;
    width: 200px;
    height: 415px;
    bottom: -145px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.about-video-area {
    width: 90%;
}
.about-content p {
    font-size: 16px;
}
h1.about-tile {
    font-size: 24px;
    padding: 30px 0;
}


.faq-section .card-body {
    padding: 0;
    margin-right: 0;
    font-size: 16px;
}
.faq-section button.btn.btn-link {
    font-size: 16px;
}
.faq-section button.btn.btn-link.collapsed {
    font-size: 16px;
}

.topbar-back-title {
    margin-left: 45px;
    margin-bottom: 50px;
}
.filter-box {
    padding: 20px 15px;
    text-align: left;
    margin-top: 50px;
}
.off-canvs-menu {
    border-radius: 0;
}
.other-menu-mobile {
    display: block;
    margin-bottom: 20px;
}
.too-soical-menu.too-soical-mobile {
    display: block;
}
.off-canvs-menu li {
    margin-bottom: 20px;
}

}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}