
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,700,900|Overpass:100,300,400,600,700,800,900');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  color: #4A4A4A;
  font-family: 'Chivo', sans-serif;
}
body {
  color: #4A4A4A;
  font-style: 18px;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  overflow-x: hidden;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
a:hover { text-decoration: none }


/*=========================
  Header-top START
===========================*/

/*Off-canvas-menu CSS START*/
.off-canvs-menu {
    width: 395px;
    background: #2F1D57;
    position: fixed;
    left: 0;
    z-index: 99;
    height: 397px;
    display: flex;
    justify-content:  center;
    border-radius: 0 0 30px 0;
    margin-top: 145px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.off-canvs-menu.acive {
    opacity: 1;
    visibility: visible;
}
.off-canvs-menu li a.active {
    color: #2FE8AD;
}
.off-canvs-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.off-canvs-menu li {
    margin-bottom: 40px;
}
.off-canvs-menu li:last-child {
    margin-bottom: 0;
}
.off-canvs-menu a {
    font-size: 16px;
    color: #fff;
    display: block;
    transition: .3s;
}
.off-canvs-menu li a:hover {
    color: #30E8B6;
}

.close-btn i{
    color: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}
.close-btn i:hover {
    background: #DE1314;
    border: 2px solid transparent;
}
.close-btn {
    position: absolute;
    right: 25px;
    top: 25px;
}
/*Menu-icon*/
a.menu-triger span {
    width: 18px;
    height: 2px;
    display: block;
    background: #000;
    margin: 0 auto;
    margin-bottom: 4px;
    transition: .2s;
}
a.menu-triger span:nth-child(2), a.menu-triger span:nth-child(3) {
    width: 24.14px;
}
.off-canvs-icon {width: 50px;float: left;margin-right: 17px;cursor: pointer;}

.off-canvs-icon.acive a.menu-triger span:nth-child(1),
.off-canvs-icon.acive a.menu-triger span:nth-child(4){
    opacity: 0;
}
.off-canvs-icon.acive a.menu-triger span:nth-child(2) {
    transform: rotate(45deg);
}
.off-canvs-icon.acive a.menu-triger span:nth-child(3) {
    transform: rotate(135deg);
    margin-top: -6px;
}

.other-menu-mobile {
    display: none;
}

.too-soical-menu.too-soical-mobile {
    margin-right: 0;
    position: absolute;
    bottom: 20px;
    display: none;
}
.too-soical-menu.too-soical-mobile a i {
    width: 30px;
    height: 30px;
    background: #422B76;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}

.too-soical-menu.too-soical-mobile a i:hover {
    background: #30DB92;
}


/*Header-top CSS START*/

/*Sticky*/
.header-top.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;
    padding: 8px 0;
}
/*sticky-end*/

.header-top {
    padding: 40px 0;
    background-color: #F2EEEB;
    transition: .3s;
}
.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-menu li {
    display: inline-block;
}
.top-menu li a {
    color: #4A4A4A;
    font-size: 16px;
    display: block;
    padding: 0 7px;
}
.top-menu li a.active {
    border-bottom: 3px solid #422B76;
}
.site-logo a {
    color: #4A4A4A;
}
.site-logo h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.site-logo h4 span {
    display: block;
    margin-top: 2px;
}
.too-soical-menu a {
    display: inline-block;
    margin-left: 10px;
}
.too-soical-menu a i {
    width: 20px;
    height: 20px;
    background: #422B76;
    color: #fff;
    border-radius: 50%;
    text-align:  center;
    font-size: 14px;
    line-height: 20px;
    transition: .3s;
}
.too-soical-menu {margin-right: 180px;}
.header-top-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
a.start-btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #422B76;
    display: inline-block;
    padding: 6px 30px;
    border-radius: 50px;
    border: 0;
    position: relative;
    padding-right: 50px;
    transition: .3s;
}
a.start-btn i.zmdi.zmdi-long-arrow-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}










.slider-content-box {
    position: relative;
    z-index: 1;
}

img.slider-img-right {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 450px;
}

.slider-content-box {
    padding: 130px 0;
}

.slide-content h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
    line-height: 48px;
    margin-bottom: 5px;
}

.slide-content p {
    font-size: 24px;
    color: #000;
    line-height: 32px;
}

.header-slider-area {
    background: #F2EEEB;
}


a.site-btn {
    display: inline-block;
    background: #422B76;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 270px;
    text-align:  center;
    height: 55px;
    line-height: 60px;
    border-radius: 50px;
    position: relative;
    transition: .3s;
}
a.site-btn i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.slider-btn {padding-bottom: 50px;}



/*Owlcarousel*/
.header-slider-area .owl-carousel .owl-item img {
    display: block;
    width: auto;
}


.header-slider-area .owl-dots div {
    width: 12px;
    height: 12px;
    background: #422B76;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    transition: .2s;
}
.header-slider-area .owl-dots {
    position: absolute;
    right: 7%;
    bottom: 62px;
}
.header-slider-area .owl-dot.active {
    background: #fff;
    border: 1px solid #422B76;
    transform: scale(1.3);
}
.header-slider-area .owl-dots:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 90%;
    height: 2px;
    right: 5px;
    top: 44%;
    transform: translateY(-50%);
    z-index:  -1;
}



/*Service-area CSS START*/

.section-padding {
    padding: 100px 0;
}
.section-title {
    margin-bottom: 100px;
}
.section-title h2 {
    font-size: 36px;
    line-height: 48px;
}
.section-title h2 span {
    display: block;
}

.srvice-box h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 25px;
}
.srvice-box p {
    font-size: 18px;
    padding: 0 50px;
    line-height: 24px;
    margin-bottom: 0;
}
.slider-content-box:after {
    position: absolute;
    content: "";
    background-image: url(../img/header-slder-bg.png);
    width: 50%;
    height: 100%;
    right: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
}



/*.Collapse-area CSS START*/
.collapse-left a.start-btn {
    padding: 5px 30px;
    width: 270px;
    height: 55px;
    line-height: 50px;
}
.collapse-left a.start-btn i.zmdi.zmdi-long-arrow-right {
    font-size: 24px;
}
.collapse-area {
    background-image: url(../img/service-bg.png);
    background-size: cover;
    background-position: 100%;
    background-color: #30E8B6;
}
.collapse-left p {
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 30px;
}
.collapse-left {
    margin-top: 30px;
}
.collpase-right .card-header {
    border: 0;
    border-bottom: 1px solid #2BD0A4;
    border-radius: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    padding: 20px 0;
}
.collpase-right .accordion {
    background: none;
    border: none;
}
.collpase-right .card {
    border: 0;
    border-radius: 0;
    background: none;
}
.collpase-right button.btn.btn-link {
    position: relative;
    width: 100%;
    text-align: left;
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.collpase-right span.collapse-left-iocn img {
    width: 32px;
    margin-right: 10px;
}
button.btn.btn-link.collapsed:after {
    position: absolute;
    content: '\f2f9';
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #fff;
    color: #FFFF;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    opacity: .5;
}
button.btn.btn-link:after {
    position: absolute;
    content: '\f2fc';
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #fff;
    color: #FFFF;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    opacity: .5;
}
.proudct-img{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 190px;
}
.proudct-img-1{
  background-image: url(../img/product-img-1.svg);
}
.proudct-img-2{
  background-image: url(../img/product-img-1.svg);
}
.proudct-img-3{
  background-image: url(../img/product-img-1.svg);
}
.proudct-img-4{
  background-image: url(../img/product-img-1.svg);
}

.proudct-img img {
    height: 190px;
}

.single-product-items {
}

.proudct-img {
    text-align:  center;
    margin-top: 20px;
}

.single-product-items {
    border: 1px solid #F2EEEB;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.product-text h4 {
    font-size: 24px;
    margin-top: 15px;
}

.single-list-text span {
    float: right;
    margin-top: 0;
    font-size: 14px;
}

.single-list-text p {
    display: inline-block;
    padding: 3px 9px;
    padding-bottom: 0px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 0;
}
p.product-clr-border {background: #E2DEFF; font-weight: bold;}


.product-btn {
    text-align: center;
    margin: 20px 0;
}
a.play-btn {
    display: inline-block;
    border: 1px solid #422B76;
    width: 165px;
    color: #422B76;
    height: 32.4px;
    line-height: 34px;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: .3s;
}

a.play-btn i.zmdi.zmdi-long-arrow-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

a.play-btn:hover {
    background: #422B76;
    color: #fff;
    border: 1px solid transparent;
}

.new-product-text {
    display: inline-block;
    background: #D0021B;
    color: #fff;
    padding: 2px 10px;
    font-weight: bold;
    border-radius: 50px;
    padding-bottom: 0;
    position: absolute;
    width: auto;
}





.popullar-product-area .owl-dots div {
    width: 10px;
    height: 10px;
    background: #422B76;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    transition: .2s;
}

.popullar-product-area .owl-dots {
    text-align: center;
    margin-top: 40px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 999;
}

.popullar-product-area .owl-dot.active {transform: scale(1.5);background: #fff;border: 1px solid #4A4A4A;position: relative;}

.popullar-product-area .owl-dot.active:after {
    position: absolute;
    content: "";
    background: #422B76;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 5px;
    margin-left: -3px;
}
.owl-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -8px;
    z-index: -1;
}
.owl-nav div {
    font-size: 30px;
    display: inline-block;
    margin: 0 160px;
    width: 30px;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: .3s;
    z-index: 999;
}

.owl-nav div:hover {
    background: #422B76;
    color: #fff;
    border: 1px solid transparent;
}


/*Newsletter-area CSS START*/

.newsletter-area {
    background-image: url(../img/newsletter-bg.png);
    background-color:#757575;
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.newsletter-title h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 5px;
}

.newsletter-title p {
    font-size: 18px;
    margin-bottom: 30px;
}

.newsletter-singup-box input {
    font-size: 14px;
    color: #4A4A4A;
    border: 0;
    padding: 12px 30px;
    border-radius: 50px;
    width: 55%;
    padding-bottom: 10px;
}

.newsletter-singup-box button {
    width: 25%;
    border-radius: 50px;
    border: 0;
    padding: 11px 0;
    padding-bottom: 8px;
    background: #4A4A4A;
    cursor: pointer;
    transition: .3s;
    margin-left: 10px;
    color: #fff;
    padding-bottom: 9px;
}

.newsletter-singup-box button:hover {
    background: #422B76;
    color: #fff;
}
input:focus, button:focus {
    outline: none;
}



/*Footer-area CSS START*/

h4.footer-menu-title {
    margin-bottom: 30px;
    font-size: 24px;
}
.footer-menu a {
    color: #4A4A4A;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    transition: .3s;
}
.footer-menu a:last-child {
    margin-bottom: 0;
}
.footer-menu a:hover {
    opacity: .6;
}

.footer-social-menu a {
    color: #4A4A4A;
    margin-right: 10px;
}
.footer-social-menu a i {
    background: #422B76;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    transition: .3s;
}
.footer-social-menu i.zmdi.zmdi-facebook {
    background: #4464B1;
}
.footer-social-menu i.zmdi.zmdi-twitter {
    background: #57ACEF;
}
.footer-social-menu i.zmdi.zmdi-youtube {
    background: #E52218;
}
.footer-social-menu i.zmdi.zmdi-google-plus {
    background: #DB4934;
}
.footer-area {
    border-top: 1px solid #F2F2F2;
    padding-top: 40px;
}
.footer-social-menu {
    margin-bottom: 50px;
}
.footer-newsletter input {
    width: 63%;
    border: 1px solid #F2EEEB;
    border-radius: 50px;
    padding: 12px 25px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #4A4A4A;
    padding-bottom: 10px;
}
.footer-newsletter button {
    background: #422B76;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 12px 50px;
    border-radius: 50px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 10px;
}
.footer-newsletter h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.copyright-menu a {
    color: #4A4A4A;
    font-size: 14px;
    padding-right: 30px;
    transition: .3s;
}

.copyright {
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
}

.copyright-menu a:hover {
    opacity: .8;
}

.copyright {
    position: relative;
}
.comment-menu {
    position: absolute;
    right: 0;
    top: 10px;
    width: 60px;
    height: 60px;
    background: #422B76;
    text-align: center;
    line-height: 67px;
    font-size: 22px;
    border-radius: 50%;
}
.comment-menu a {
    color: #fff;
}
.copyright-menu {
    margin-top: 30px;
}

label {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 28px;
}
.signle-checkbox {
    display: inline-block;
    margin-right: 15px;
}




/***************************
    MARKETPLACE PAGE START
***************************/


/*Header-banner-area CSS START*/
.blog-left-img.blog-new-cls {
    margin: -5px;
    margin-bottom: -2px;
}
.header-banner {
    padding-top: 80px;
}
.header-banner-box{
    background-image: url(../img/header-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    background-color: #F7F7F7;
    padding: 30px;
}
.banner-middler-img img {
    width: 320px;
}

.winner-box {
    position: absolute;
    top: 30px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    right: 30px;
}
.winner-logo-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.winner-text-right {
    padding-left: 54px;
    margin-bottom: -3px;
}
.winner-text-right p {
    margin-bottom: 0;
    text-align: left;
}
.winner-logo-left img {
    width: 60px;
    margin-top: 18px;
}
.winner-text-right p:nth-child(2) {
    font-size: 14px;
    margin-top: -6px;
}




/*sharing-link-list CSS START*/

.right-share-icon {
    float: right;
    margin-top: -38px;
}
.elhan-title h3 {
    font-size: 24px;
}
.sharing-link-box {
    margin-top: 20px;
}
.right-share-icon a {
    background: #F2F2F2;
    color: #222;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 50px;
    padding-bottom: 4px;
    margin-left: 25px;
}
.right-share-icon i {
    font-size: 18px;
    padding-right: 5px;
    text-align:  center;
}
a.buy-btn {
    color: #422B76;
    background: transparent;
    border: 1px solid #422B76;
    padding: 10px 35px;
    padding-bottom: 7px;
    transition: .3s;
}
a.buy-btn:hover {
    background: #422B76;
    color: #fff;
}
.sharing-link-list a {
    display: inline-block;
    color: #4A4A4A;
    font-size: 16px;
    padding-right: 30px;
    transition: .3s;
}
.sharing-link-list a:hover {
    color: #422B76;
}
/*sharing-link-list CSS END*/





/*Traits-attributes-area CSS START*/

.traits-attributes-area {
    margin-top: 40px;
}
.section-title h4 {
    margin-bottom: 0;
}
.traits-box {
    border: 1px solid #F8F5F4;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}
.traits-box img {
    width: 147px;
    margin-bottom: 20px;
}
.traits-box h4 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0;
}
.traits-attributes-area .section-title {
    border-top: 1px solid #F2EEEB;
    padding-top: 40px;
}
.traits-attributes-area .section-title {
    margin-bottom: 40px;
}
/*Traits-attributes-area CSS END*/






/*Tab-box-area CSS START*/
.tab-box {
    border: 1px solid #F2EEEB;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
    width: 100%;
    float: left;
}
.tab-box .nav {
    display: inherit;
    width: auto;
}
.tab-box ul {
    text-align: center;
    margin-bottom: 30px;
}
.tab-box li {
    display: inline-block;
    color: #422B76;
    margin-left: -4px;
    border:  1px solid #422B76;
}
.tab-box li a {
    color: #422B76;
    font-weight: bold;
    font-family: 'Chivo';
    padding: 10px 50px;
}
.nav-link.active {
    background: #422B76;
    color: #fff;
}
.tab-content {
    font-size: 18px;
    line-height: 26px;
}
.tab-content p {
    margin-bottom: 0;
}
li.nav-item:nth-child(1) a {
    border-radius: 50px 0 0 50px;
}

li.nav-item:nth-child(1) {
    border-radius: 50px 0 0 50px;
}

li.nav-item:nth-child(2) a {
    border-radius: 0px 50px 50px 0px;
}

li.nav-item:nth-child(2) {
    border-radius: 0  50px 50px 0px;
}


/* Bio Section */

.GenePool_section{
    margin-top: 30px;
    width: 100%;
    display: inline-block;
}

.gene_pool_chr{
    float: left;
    padding: 5px 20px 5px 20px;
    margin: 10px;

    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;


}
.gene_pool_chr.green{
    border: #1CD4A2 1px solid;
}

.gene_pool_chr.offgray{
    border: #AEADD7 1px solid;
}
.gene_pool_chr.blue{
    border: #5D75CB 1px solid;
}
.gene_pool_chr.offgreen{
    border: #C5E285 1px solid;
}


.bio-area{
    margin-top: 30px;
}



/*****************
    Marketplace-Deails-page START
*****************/

/*product-search-box CSS START*/
.product-search-box span {
    font-size: 14px;
    margin-right: 0;
}
.product-search-box input {
    border: 1px solid #4A4A4A;
    border-radius: 50px;
    color: #4A4A4A;
    padding: 10px 22px;
    padding-bottom: 8px;
}
.short-by-select {
    position: relative;
}
.price-select label {
    position: absolute;
    left: 0;
    top: 10px;
}
.nice-select {border-radius: 50px;line-height: 44px;}
.price-select {
    float: left;
    margin-right: 15px;
}
.short-by-select {
    padding-left: 90px;
}
.signle-checkbox {
    margin-right: 6px;
}
.product-topbar {
    padding-top: 35px;
    padding-bottom: 20px;
}
.product-topbar-border {
    border-bottom: 1px solid #F2EEEB;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.filter-icon {
    width: 43px;
    height: 32px;
    background: #F2F2F2;
    border-radius: 50px;
    padding-top: 5px;
    float: right;
    cursor: pointer;
}
.filter-icon span {
    width: 14px;
    height: 2px;
    display: block;
    margin: 5px 0;
    background: #333;
    text-align:  center;
    margin: 4px auto;
}
.filter-secton > span {
    position: absolute;
    right: 70px;
    top: 13px;
}
.filter-icon span:nth-child(2) {
    width: 15.89px;
}
.filter-icon span:nth-child(3) {
    width: 23.81px;
}

/*product-search-box CSS END*/



/*all-product-area CSS START*/

.all-product-area .single-product-items {
    margin-bottom: 30px;
    transition: .3s;
}
.all-product-area .single-product-items:hover {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

/*Pagination-area CSS START*/
.pagination-area .page-link {
    padding: 0;
    border: 2px solid #E5E5E5;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    color: #333333;
    font-weight: bold;
    margin: 0 5px;
}
.pagination-area .page-item:first-child .page-link {
    margin-right: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 101px;
    border-radius: 50px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
}
.pagination-area .page-item:last-child .page-link {
    margin-left: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 101px;
    border-radius: 50px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
}
.pagination-area .page-link:hover {
    color: #ffff;
    background-color: #422B76;
    border-color: transparent;
}
.pagination-area .page-link {
    transition: .3s;
}
.pagination-area .page-item.active .page-link {
    background-color: #422B76;
    border-color: transparent;
}
/*Pagination-area CSS END*/






.filter-secton.open-acive .filter-box {
    opacity: 1;
    visibility: visible;
}

.filter-box {
    opacity: 0;
    visibility: hidden;
}


.static {
    position: static!important;
}

.static-postion {
    position: relative!important;
}

.filter-box {
    position: absolute;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
    z-index: 999;
}

.singgle-filter-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.singgle-filter-item li {
    display: inline-block;
}




.singgle-filter-item .nice-select {
    border-radius: 50px;
    width: 50%;
    margin-top: -3px;
}
.filter-box {
    padding: 30px;
    text-align: left;
    margin-top: 55px;
}

h4.filter-title {
    font-size: 16px;
}

.singgle-filter-item li {
    margin-right: 20px;
    font-size: 16px;
}
.singgle-filter-item .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6;
    width: 100%;
}

.nice-select li {
    display: block;
}

ul.list {
    width: 100%;
}
ul.list a {
    display: block;
}
.singgle-filter-item .magic-radio + label, .magic-checkbox + label {
    font-size: 14px;
}




.good-network {
    position: absolute;
    font-size: 12px;
    color: #D0021B;
    background: #fff;
    border-radius: 5px;
    left: 10%;
}

.good-network p {
    margin-bottom: 0;
    padding: 5px 20px;
    padding-bottom: 2px;
    padding-right: 7px;
}

.good-network:after {
    position: absolute;
    content: "";
    background: red;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}




/*News Page START*/

.top-section-title {
    padding-top: 60px;
    padding-bottom: 35px;
}
.search-box input {
    border: 1px solid #4A4A4A;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 20px;
    width: 236px;
    height: 40px;
    padding-bottom: 3px;
    transition: .3s;
}
.search-box input:focus {
    border: 1px solid #422B76;
    color: #422B76;
}
.news-img{
    height: 220px;
    background: #F2F2F2;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.news-img1{
    background-image: url(../img/blog-1.jpg);
}
.news-img2{
    background-image: url(../img/blog-1.jpg);
}
.news-img3{
    background-image: url(../img/blog-1.jpg);
}
.news-img4{
    background-image: url(../img/blog-1.jpg);
}
.news-img5{
    background-image: url(../img/blog-1.jpg);
}
.news-img6{
    background-image: url(../img/blog-1.jpg);
}
.news-img7{
    background-image: url(../img/blog-1.jpg);
}

.news-img8{
    background-image: url(../img/blog-1.jpg);
}
.news-img9{
    background-image: url(../img/blog-1.jpg);
}

.news-box-content h4 {
    font-size: 24px;
    margin-bottom: 3px;
    line-height: 32px;
}
.news-box-content p {
    font-size: 18px;
    line-height: 24px;
    color: #4A4A4A;
}
.author-date-icon {
    position: absolute;
    right: 0;
    top: 0;
}
.post-bottom-info {
    position: relative;
    font-size: 14px;
    line-height: 19px;
}
.author-date-icon span {
    margin-left: 25px;
}
.author-date-icon i {
    width: 20px;
    color: #000000;
    font-size: 14px;
}
.news-box-content {
    margin-top: 15px;
}


.news-item-area .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}
.news-author-name a {
    color: #4A4A4A;
    display: inline-block;
    position: relative;
    transition: .3s;
}

.news-author-name a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #4A4A4A;
}

.news-author-name a:hover {
    opacity: .5;
}


/*Blog Page START*/

.blog-single-box {
    border: 2px solid #F2EEEB;
    border-radius: 10px;
    margin-bottom: 30px;
}
.blog-left-img img {
    width: 100%;
    border-radius: 10px;
}
.blog-right-text {
    margin: 0 70px;
    margin-right: 100px;
}
.blog-right-text p {
    font-size: 18px;
    line-height: 24px;
}
.blog-right-text .start-btn {
    background: transparent;
    border: 1px solid #422B76;
    color: #422B76;
    margin-top: 20px;
}
.blog-right-text .start-btn:hover {
    background: #422B76;
    color: #fff;
}
.blog-author-info {
    margin-top: 60px;
}
.blog-author-info p {
    margin-bottom: 0;
    font-size: 14px;
}
.blog-author-info p span {
    float: right;
}





/* About PAGE  START*/

.about-video-area {
    background: #0CC190;
    height: 385px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 100px;
}
a.video-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-video-area:after {
    position: absolute;
    content: "";
    background-image: url(../img/video-bg-right.svg);
    right: -90px;
    width: 200px;
    height: 370px;
    bottom: -83px;
}
h1.about-tile {
    margin-bottom: 0;
    padding: 60px 0;
    font-size: 36px;
}
.about-content p {
    font-size: 18px;
    line-height: 24px;
}





/*FAQ PAGE START*/

.faq-section button.btn.btn-link.collapsed {
    color: #4A4A4A;
    font-size: 18px;
    font-family: Overpass;
    font-weight: bold;
}
.faq-section button.btn.btn-link {
    color: #422B76;
    font-size: 18px;
    font-family: Overpass;
    font-weight: bold;
    padding-left: 0;
    text-decoration: none;
}

.faq-section button.btn.btn-link.collapsed:after {
    position: absolute;
    content: '\f2f9';
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    color: #422B76;
    font-size: 30px;
    width: 25px;
    height: 25px;
    border: 1px solid #422B76;
    line-height: 25px;
    right: 0;
    opacity: .3;
}
.faq-section button.btn.btn-link:after {
    position: absolute;
    content: '\f2fc';
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    color: #422B76;
    font-size: 30px;
    width: 25px;
    height: 25px;
    border: 1px solid #422B76;
    line-height: 25px;
    right: 0;
    opacity: 1;
}

.faq-section button.btn.btn-link.collapsed:after {
    opacity: .3;
}


.faq-section button.btn.btn-link {
    position: relative;
    width: 100%;
    text-align: left;
}

.faq-section button.btn.btn-link.collapsed {
    position: relative;
    width: 100%;
    text-align: left;
}

.faq-section .card-header:first-child {
    border-radius: 0;
    padding: 20px 0;
    padding-bottom: 10px;
    background: transparent;
    border: 0;
}
.faq-section .card {
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
}

.faq-section button.btn.btn-link:before {
    position: absolute;
    content: "";
    background: #422B76;
    width: 32px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.faq-section button.btn.btn-link.collapsed:before {
    width: 0;
}
.faq-section button.btn.btn-link {
    color: #422B76;
    font-size: 18px;
    font-family: Overpass;
    font-weight: bold;
    padding-left: 45px;
}
.faq-section button.btn.btn-link.collapsed {
    padding-left: 0;
}
.faq-section .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-right: 20%;
    font-size: 18px;
    line-height: 24px;
}
h2.faq-tile img {
    margin-right: 15px;
}
h1.faq-tile {
    font-size: 36px;
    margin-bottom: 0;
    padding: 60px 0;
}
h2.faq-tile {
    font-size: 24px;
}



/*Blog_details PAGE*/

.blog-details-title .news-se-title {
    margin-bottom: 2px;
}
.news-author-name {
    float: left;
}
.blog-details-title .author-date-icon {
    float: left;
    position: relative;
}
.topbar-back-title {
    margin-left: 45px;
}

i.zmdi.zmdi-arrow-left {
    font-size: 32px;
    position: absolute;
}
.blog-details-title > a {
    color: #4A4A4A;
}
.blog-details-title > a:hover {
    opacity: .7;
}
.details-header-bg{
    background-image: url(../img/blog-details-bg.svg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 420px;
    margin-bottom: 30px;
}
.blog-details p {
    font-size: 18px;
    line-height: 24px;
}